[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=LazyTextTool
X-Python-2-Compatible=false
Name=Lazy Text Tool
Comment=A plugin that helps you type text
